.navbar{
    padding:0 1rem;
    height: 100vh;
    max-width: 20%;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar>h2{
    padding: 10px 0;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar svg{
    cursor: pointer;
    font-size: 2rem;
}

.navbar h4, .navbar a{
    display: flex;
    align-items: center;
    gap: 4px;
    height: 3rem;
    padding-left:4px;
    border-radius: 10px;
}

.navbar h4:hover, .navbar li a:hover{
    cursor: pointer;
    background-color: rgba(58, 55, 51, 0.151);
}

.navbar ul{
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navBottom{
    border-top: 2px solid;
    padding: 5px 0;
}
.navBottom h4 , .navBottom h4 a{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}
.navBottom svg{
    margin-right: 4px;
}