@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #00a3ff27;
}

.navbar svg{
    cursor: pointer;
    font-size: 2rem !important;
}

.filterSorter::-webkit-scrollbar{
    width: 0;
}